<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <!-- General -->
    <category label="30000">
        <setting label="30104" id="aa.email" type="text" enable="false"/>
        <setting label="30100" id="view.fanart" type="bool" default="true"/>
        <setting label="30105" id="aa.shows_per_page" type="slider" range="5,1,100" option="int" default="10" />
        <setting type="sep"/>
        <setting label="30101" id="addon.run_setup" type="action" action="RunPlugin(plugin://plugin.audio.audioaddict/setup)"/>
        <setting label="30102" id="addon.update_all" type="action" action="RunPlugin(plugin://plugin.audio.audioaddict/refresh)"/>
        <setting label="30103" id="addon.logout" type="action" action="RunPlugin(plugin://plugin.audio.audioaddict/logout)"/>
    </category>
</settings>
