<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <!-- General -->
    <category label="30000">
        <setting label="30104" id="addon.last_premium_prompt" type="number" default="0" visible="false" />

        <setting label="30104" id="aa.email" type="text" enable="false"/>
        <setting type="sep"/>
        <setting label="30100" id="view.fanart" type="bool" default="true"/>
        <setting label="30107" id="addon.notify_live" type="bool" default="true"/>
        <setting label="30108" id="addon.tune_in_live" type="bool" default="true"/>
        <setting label="30113" id="addon.seek_offset" type="bool" default="false"/>
        <setting type="sep"/>
        <setting label="30109" id="aa.quality" type="select" lvalues="30110|30111|30112"/>
        <setting label="30105" id="aa.shows_per_page" type="slider" range="5,1,100" option="int" default="10" />
        <setting type="sep"/>
        <setting label="30101" id="addon.run_setup" type="action" action="RunPlugin(plugin://plugin.audio.audioaddict/setup?notice=false&update_cache=true)"/>
        <setting label="30102" id="addon.update_all" type="action" action="RunPlugin(plugin://plugin.audio.audioaddict/refresh)"/>
        <setting label="30106" id="addon.clear_cache" type="action" action="RunPlugin(plugin://plugin.audio.audioaddict/clear_cache)"/>
        <setting label="30103" id="addon.logout" type="action" action="RunPlugin(plugin://plugin.audio.audioaddict/logout)"/>
    </category>
</settings>
